<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Content Manager</title>

  <script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://assets.adobedtm.com/6268dc4b6b26/33e8c411b1f5/launch-3d1ed1ce0a14-development.min.js" async></script>
</head>
<body>
    <script src="<%= htmlWebpackPlugin.publicPath %>/<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>
